/*Author: Michael Kirkbright*/
#gallery img
{

}
/*All*/

h1
{
	font-size: 17px;
	font-family:MS Sans Serif4, Geneva, sans-serif;
	color:#ffffff;
	margin: 0px;
}

h2
{
	font-size: x-large;
	margin: 0px;
	color:#f5a204;
}

h3
{
	font:10px normal;
	color:#f1eada;
	text-decoration: none;
}


body
{
	background: #373737;
	height: 100%;
	width: 100%;
	min-width: 800px;
	font-family: Arial, Helvetica, sans-serif;
}

.footer
{
	color: #666666;
	font:10px normal;
	height: 30px;
}

.footer a
{
	color: #f5a204;
}

.logo
{
	background: url(images/logo.jpg) no-repeat;
	height: 100px;
	width: 294px;
	float: left;
	position: relative;
	top: 20px;
	left: 15px;
}


.menu
{
	float:right;
	position: relative;
	top: 70px;
}

.menu ul
{
	display:inline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	padding:0pt;
}

.menu li 
{
	display:inline;
	float:left;
	margin:0pt 0pt 0pt 40px;
}

.menu li a 
{
	display:inline;
	float:left;
}

#home {background: url(images/homeInactive.gif) no-repeat; width: 80px; height:45px;}
#portfolio {background: url(images/portfolioInactive.gif) no-repeat; width: 80px; height:45px;}
#about {background: url(images/aboutInactive.gif) no-repeat; width: 80px; height:45px;}
#contact {background: url(images/contactInactive.gif) no-repeat; width: 80px; height:45px;}

#home:hover {background: url(images/homeHover.gif) no-repeat; width: 80px; height:45px;}
#portfolio:hover {background: url(images/portfolioHover.gif) no-repeat; width: 80px; height:45px;}
#about:hover {background: url(images/aboutHover.gif) no-repeat; width: 80px; height:45px;}
#contact:hover {background: url(images/contactHover.gif) no-repeat; width: 80px; height:45px;}

#homeCurrent {background: url(images/homeCurrent.gif) no-repeat; width: 80px; height:45px;}
#portfolioCurrent {background: url(images/portfolioCurrent.gif) no-repeat; width: 80px; height:45px;}
#aboutCurrent {background: url(images/aboutCurrent.gif) no-repeat; width: 80px; height:45px;}
#contactCurrent {background: url(images/contactCurrent.gif) no-repeat; width: 80px; height:45px;}

.picBack
{
	background: #ffffff;
	height:90px;
	width: 230px;
}

.picFront
{
	position: relative;
	left:5px;
	top:5px;
}

.top
{
	border-bottom:1px solid #444444;
	float:left;
	margin:0pt;
	padding:0pt;
	position:absolute;
	height: 120px;
	top:10px;
	width:800px;
}

.wrap
{
	margin:auto;
	width: 800px;
}

/*About*/

.aboutCol1
{
	float:left;
}

.aboutCol2
{
	float: right;
}

.aboutContent
{
	width:800px;
	height: 480px;
	position:relative;
	top: 10px;
	border-bottom:1px solid #444444;
	font:12px normal;
}

.aboutForground
{
	background: #373737;
	width: 800px;
	height:600px;
	position:absolute;
	top:140px;
}

.aboutLeft
{
	float: left;
	width: 200px;
	font:18px normal;
	color: #f5a204;
	position: relative;
	left:30px;
	top: 50px;
}

.aboutRight
{
	float: right;
	width: 500px;
}

.aboutRight li
{
	color: #cccccc;
	font:12px normal;
	background: url(images/list.gif) no-repeat;
	padding: 0 0 5px 15px;
}

.aboutRight ul
{
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
	padding: 0 0 5px 15px;
}

/*Contact*/

.contactContent
{
	width:800px;
	height: 400px;
	position:relative;
	top: 10px;
	border-bottom:1px solid #444444;
	font:12px normal;
}

.contactContentFail
{
	width:800px;
	height: 150px;
	position:relative;
	top: 10px;
	border-bottom:1px solid #444444;
	font:12px normal;
	Text-align: center;
}

.contactForground
{
	background: #373737;
	width: 800px;
	height:600px;
	position:absolute;
	top:140px;
}

.contactLeft
{
	float: left;
	width: 200px;
	font:18px normal;
	color: #f5a204;
	position: relative;
	left:30px;
	top: 30px;
}

.contactRight
{
	float: right;
	width: 500px;
}

.formButton 
{
	background-color:#444444;
	border:1px solid #f1eada;
	color: #f5a204;
	font-size:14px;
	width:100px;
	height: 20px;
	position: relative;
	left: 80px;
	cursor: pointer;
}

.formInput 
{
	background-color:#333333;
	border:1px solid #444444;
	color:#FFFFFF;
	font-size:14px;
	height:26px;
	width:386px;
}

.formLabel
{
	color:#FFFFFF;
	font-size:16px;
}

.formTextarea 
{
	background-color:#333333;
	border:1px solid #444444;
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	height:100px;
	margin:0pt;
	width:386px;
}

/*Home*/

.message
{
  float:right;
  padding-top:29px;
  padding-right:65px;
}

.homeCol1
{
	float: left;
	width: 250px;
}

.homeCol2
{
	float: right;
	width: 250px;
}

.homeContent
{
  padding-top:200px;
  padding-left:40px;
	width:530px;
	height: 250px;
	font:12px normal;
}

.homeContent a
{
	text-decoration: none;
	color: #ffffff;
}

.homeContent a:hover
{
	color: #f5a204;
}

.homeContent p
{
	margin-top: 0px;
	margin-bottom: 20px;
	color: #cccccc;
	width: 230px;
}

.homeFooter
{
	color: #666666;
	font:10px normal;
	float:left;
}

.homeFooter a
{
	color: #f5a204;
}

.homeForground
{
	background: #373737 url(images/bg.gif);
	background-repeat: no-repeat;
	width: 800px;
	height:600px;
	position:absolute;
	top:140px;
}


/*Portfolio*/

.clientContainer
{
	border-top:1px solid #444444;
	height: 30px;
}

.clientContainer p
{
	position: relative;
	left: 10px;
	top:5px;
}

.clientContainerCurrent
{
	border-top:1px solid #444444;
	height: 30px;
	background-color: #333333;
}

.clientContainerCurrent p
{
	position: relative;
	left: 10px;
	top: 5px;
}

.offline
{
  color:#666666;
}

.picContainerDundeeCollege
{
	background-color: #ffffff;
	width: 520px;
	height: 578px;
}

.picContainerGauldrygallop
{
	background-color: #ffffff;
	width: 520px;
	height: 490px;
}

.picContainerGarden
{
	background-color: #ffffff;
	width: 520px;
	height: 405px;
}

.picContainerLesPaul
{
	background-color: #ffffff;
	width: 520px;
	height: 396px;
}

.picContainerLuxuryLending
{
	background-color: #ffffff;
	width: 520px;
	height: 428px;
}

.picContainerOdetro
{
	background-color: #ffffff;
	width: 520px;
	height: 475px;
}

.picContainerOfficeAuction
{
	background-color: #ffffff;
	width: 520px;
	height: 500px;
}

.picContainerPpl
{
	background-color: #ffffff;
	width: 520px;
	height: 386px;
}

.picContainerSuperglass
{
	background-color: #ffffff;
	width: 520px;
	height: 373px;
}

.picContainerVault
{
	background-color: #ffffff;
	width: 520px;
	height: 483px;
}
.picBig
{
	position: relative;
	top: 8px;
	left:8px;
	border:1px solid #444444;
}

.portColContainer
{
	float:left;
	width:500px;
	position: relative;
	left:20px;
}

.portCol1
{
	width:250px;
	float:left;
}

.portCol2
{
	width:250px;
	float:right;
}

.portCol3
{
	width:250px;
	float:right;
	position: relative;
	right:30px;
}

.portContent
{
	width:800px;
	position:relative;
	top: 10px;
	border-bottom:1px solid #444444;
	font:12px normal;
}
.portContent a {text-decoration: none; color: #ffffff;}
.portContent a:hover {color: #f5a204;}

.portContent p
{
	margin-top: 0px;
	margin-bottom: 20px;
	color: #cccccc;
	width: 230px;
}
.portContent h1
{
  padding-bottom:10px; 
}

#portContent {height: 430px;}
#portDundeeCollege {height: 780px;}
#portGauldry {height: 685px;}
#portGarden {height: 650px;}
#portLesPaul {height: 610px;}
#portLuxuryLending {height: 630px;}
#portOdetro {height: 690px;}
#portOffice {height: 680px;}
#portPpl {height: 580px;}
#portSuperglass {height: 580px;}
#portVault {height: 690px;}

.portForground
{
	background: #373737;
	width: 800px;
	height:470px;
	position:absolute;
	top:140px;
}

.portLeft
{
	float: left;
	width: 200px;
}

.portLeftText
{
	float:left;
	width: 260px;
	position: relative;
	top: 10px;
	left:20px;
}

.portLine
{
  border-top:1px solid #444444;
  height:20px;
}

.portLeftTextLink
{
	color: #f5a204;
}

.portRight
{
	width: 520px;
	float: right;
	position: relative;
	right: 40px;
}

.portRightText
{
	float:right;
	width: 210px;
	position: relative;
	top: 10px;
	
}

.portRightText ul
{
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
	color: #cccccc;
	padding: 0 0 5px 15px;
	position:relative;
	top: -15px;
}

.portRightText li
{
	padding: 5px;
}

.portRow
{
	height:160px;
}