@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:wght@200;300;700&family=Expletus+Sans:wght@400;700&family=Handlee&display=swap';
@font-face {
  font-family: "Flaticon";
  src: url("https://www.animitemedia.com/api/media/view?ref=font__Flaticon.eot");
  src: url("https://www.animitemedia.com/api/media/view?ref=font__Flaticon.ttf") format("truetype"), url("https://www.animitemedia.com/api/media/view?ref=font__Flaticon.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.fi, .fiAnimate, .fiWebDev, .fiAudit, .fiMaintenance, .fiMarketing, .fiSoftDev {
  font-family: "Flaticon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .fi:before, .fiAnimate:before, .fiWebDev:before, .fiAudit:before, .fiMaintenance:before, .fiMarketing:before, .fiSoftDev:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; }

.fiAnimate:before {
  content: ""; }

.fiWebDev:before {
  content: ""; }

.fiAudit:before {
  content: ""; }

.fiMaintenance:before {
  content: ""; }

.fiMarketing:before {
  content: ""; }

.fiSoftDev:before {
  content: ""; }

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #795548;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white; }

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal, body .pageError .intro .btn, body .pageHome .contact .btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-out-horizontal:before, body .pageError .intro .btn:before, body .pageHome .contact .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #795548;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-out-horizontal:hover, body .pageError .intro .btn:hover, body .pageHome .contact .btn:hover, .hvr-shutter-out-horizontal:focus, body .pageError .intro .btn:focus, body .pageHome .contact .btn:focus, .hvr-shutter-out-horizontal:active, body .pageError .intro .btn:active, body .pageHome .contact .btn:active {
  color: white; }

.hvr-shutter-out-horizontal:hover:before, body .pageError .intro .btn:hover:before, body .pageHome .contact .btn:hover:before, .hvr-shutter-out-horizontal:focus:before, body .pageError .intro .btn:focus:before, body .pageHome .contact .btn:focus:before, .hvr-shutter-out-horizontal:active:before, body .pageError .intro .btn:active:before, body .pageHome .contact .btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

body {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  letter-spacing: 0.03em; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Expletus Sans", cursive;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
  color: #5d4037; }

a, .a, body .menu .menuPanel .menuFooter .item {
  color: #263238;
  outline: 0 !important;
  text-decoration: none;
  transition: all 0.5s ease; }
  a:hover, a:focus, .a:hover, body .menu .menuPanel .menuFooter .item:hover, .a:focus, body .menu .menuPanel .menuFooter .item:focus {
    color: #795548;
    text-decoration: none; }

p {
  color: #5d4037;
  margin-top: 0;
  text-align: justify; }

p a, a.textLink {
  padding: 0 3px;
  background-color: rgba(245, 245, 245, 0.5);
  border-bottom: 1px dashed #795548; }
  p a:hover, p a:focus, a.textLink:hover, a.textLink:focus {
    color: #795548;
    text-decoration: underline; }

img {
  max-width: 100%;
  height: auto; }

video, iframe {
  border: none;
  min-height: 250px;
  height: 50vh;
  width: 100%; }

article {
  border-top: 1px solid #e0e0e0;
  padding: 50px 0; }
  article:first-child {
    border: none;
    padding-top: 0; }

@-webkit-keyframes autofill {
  0%, 100% {
    background: red;
    -webkit-box-shadow: 0 0 0 30px rgba(158, 158, 158, 0.5) inset !important; } }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s; }

body { }

@keyframes fadeToBack {
  0% {
    opacity: 1;
    z-index: auto; }
  40% {
    opacity: 0; }
  100% {
    opacity: 0;
    z-index: -1; } }
  body .wrapSite {
    line-height: 1.6;
    min-height: 100vh;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    border: 1px solid #9e9e9e;
    background-color: #FFFFFF;
    padding: 30px;
    margin: 15px auto;
    box-shadow: 0 0 3px rgba(18, 18, 18, 0.2), inset 0 0 15px rgba(18, 18, 18, 0.1); }
    body .wrapSite .wrapSiteInner {
      background-image: url("/img/bg/page-bg.jpg");
      padding: 30px;
      border: 1px solid #DADADA; }
  body #splash, body .loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-image: radial-gradient(ellipse at center, #9e9e9e 1%, #616161 72%, #616161 96%);
    transition: opacity 1s ease-in;
    z-index: 9999; }
    body #splash .icon, body .loading .icon {
      position: absolute;
      bottom: 10%;
      left: 0;
      right: 0;
      text-align: center;
      min-height: 50px; }
    body #splash .logo, body .loading .logo {
      padding-bottom: 30px; }
    body #splash.inactive, body .loading.inactive {
      animation: fadeToBack 2s linear forwards; }
  body .header {
    text-align: center;
    padding: 50px 0; }
    body .header h1 {
      overflow: hidden;
      height: 1px;
      line-height: 3;
      margin: 0; }
  body .menu .menuBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    display: none; }
  body .menu .menuToggle {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .menu .menuToggle button {
      color: #F5F5F5 !important; }
  body .menu .menuBar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background-color: #a1887f;
    box-shadow: 1px 0 5px 0 rgba(18, 18, 18, 0.5);
    cursor: pointer;
    transition: all 0.5s; }
    body .menu .menuBar .top {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 300;
      font-family: "Expletus Sans", cursive;
      color: #F5F5F5 !important;
      transform: rotate(-90deg);
      transition: all 0.5s;
      position: absolute;
      top: 65px;
      left: -3px;
      margin: 0; }
    body .menu .menuBar .bottom {
      position: absolute;
      bottom: 25px;
      padding: 0 10px;
      width: 100%; }
      body .menu .menuBar .bottom img {
        width: 100%; }
    body .menu .menuBar:hover .top {
      color: #795548; }
  body .menu .menuPanel {
    position: fixed;
    top: 0;
    left: -250px;
    bottom: 0;
    opacity: 0;
    width: 250px;
    padding-top: 50px;
    transition: all 0.5s ease-out;
    box-shadow: 1px 0 5px 0 rgba(18, 18, 18, 0.5);
    background-color: #a1887f;
    display: flex;
    align-items: center;
    justify-content: center; }
    body .menu .menuPanel .menuHeader {
      padding: 7vh 25px 7vh 25px; }
      body .menu .menuPanel .menuHeader a {
        display: block;
        text-align: center;
        background-color: transparent !important; }
        body .menu .menuPanel .menuHeader a img {
          width: 100%; }
    body .menu .menuPanel .menuFooter {
      padding: 7vh 25px 25px 25px;
      text-align: center; }
      body .menu .menuPanel .menuFooter .item i {
        font-size: 1.2rem; }
      body .menu .menuPanel .menuFooter p {
        color: #B4B4B4;
        font-size: 0.694rem; }
      body .menu .menuPanel .menuFooter .copyright {
        font-size: 0.579rem; }
    body .menu .menuPanel .menuItems .item {
      padding: 14px 20px 14px 25px;
      margin-bottom: 5px;
      text-align: left;
      font-weight: 700;
      color: #B4B4B4;
      background-color: #a1887f;
      font-size: 0.833rem;
      font-family: "Expletus Sans", cursive; }
      body .menu .menuPanel .menuItems .item:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-left: 10px solid #F5F5F5; }
      body .menu .menuPanel .menuItems .item:hover, body .menu .menuPanel .menuItems .item:focus {
        background-color: #E6E6E6;
        color: #5A7684; }
        body .menu .menuPanel .menuItems .item:hover:before, body .menu .menuPanel .menuItems .item:focus:before {
          border-color: #5d4037; }
  body .menu:hover .menuBar, body .menu:focus .menuBar {
    background-color: #a1887f;
    box-shadow: 1px 0 8px 0 rgba(18, 18, 18, 0.7); }
  body .menu.active .menuBg {
    display: block; }
  body .menu.active .menuToggle button {
    color: #795548; }
  body .menu.active .menuPanel {
    opacity: 1;
    left: 0; }
  body .footer {
    padding-top: 30px;
    font-size: 0.833rem;
    border-top: 1px solid #DADADA;
    font-family: "Exo 2", sans-serif; }
    body .footer .footerLogo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: right; }
      body .footer .footerLogo img {
        max-height: 40px; }
      body .footer .footerLogo p {
        text-align: right; }
  body .title {
    font-size: 2.074rem; }
  body .iconFrame {
    display: block;
    background-color: transparent !important;
    border: none !important;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 13px 0; }
    body .iconFrame svg {
      font-size: 50px; }
    body .iconFrame span {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0 auto 15px auto;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      text-align: center;
      position: relative;
      z-index: 1;
      transition: background 0.2s, color 0.2s;
      color: #B4B4B4;
      background-color: rgba(33, 33, 33, 0.02);
      border: 1px solid rgba(33, 33, 33, 0.05); }
      body .iconFrame span:after {
        content: '';
        pointer-events: none;
        position: absolute;
        top: -7px;
        left: -7px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 7px;
        opacity: 0;
        box-sizing: content-box;
        transition: transform 0.2s, opacity 0.2s;
        transform: scale(0.8);
        box-shadow: 0 0 0 2px #616161; }
      body .iconFrame span:before {
        line-height: 60px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        display: block;
        -webkit-font-smoothing: antialiased;
        font-size: 2.074rem; }
      body .iconFrame span:hover, body .iconFrame span:focus {
        background-color: #747474;
        color: #F5F5F5; }
        body .iconFrame span:hover:after, body .iconFrame span:focus:after {
          transform: scale(1);
          opacity: 1; }
  body .imgFrame {
    background-color: #FFFFFF;
    border: 1px solid #a1887f;
    padding: 5px;
    position: relative; }
    body .imgFrame img {
      border: 1px solid #DADADA;
      width: 100%; }
    body .imgFrame .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.5s;
      opacity: 0;
      color: #FFFFFF;
      text-align: center;
      background-color: rgba(33, 33, 33, 0.5); }
      body .imgFrame .overlay:hover, body .imgFrame .overlay:focus {
        opacity: 1; }
  body .imgFrameRound {
    background-color: #FFFFFF;
    border: 1px solid #a1887f;
    border-radius: 50%;
    padding: 0;
    position: relative;
    overflow: hidden; }
    body .imgFrameRound img {
      border: 1px solid #DADADA;
      width: 100%; }
  body .paper {
    background: #fff;
    padding: 30px;
    position: relative; }
  body .paper,
  body .paper::before,
  body .paper::after {
    /* Styles to distinguish sheets from one another */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #bbb; }
  body .paper::before,
  body .paper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #eee; }
  body .paper::before {
    right: 15px;
    top: 0;
    transform: rotate(-1deg);
    z-index: -1; }
  body .paper::after {
    top: 5px;
    right: -5px;
    transform: rotate(1deg);
    z-index: -2; }
  body .pageError .intro {
    min-height: 100vh; }
    body .pageError .intro h1 {
      line-height: 1.2; }
    body .pageError .intro p {
      font-size: 1.44rem; }
    body .pageError .intro .btn {
      background-color: #795548;
      font-size: 1.44rem;
      font-weight: 700;
      padding: 20px 30px; }
  body .pageHome .about .imgFrameRound {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 15px 15px 0; }
  body .pageHome .skills th, body .pageHome .qualification th {
    font-weight: 700;
    font-family: "Exo 2", sans-serif; }
  body .pageHome .skills td, body .pageHome .qualification td {
    font-family: "Exo 2", sans-serif; }
  body .pageHome .skills thead th, body .pageHome .qualification thead th {
    padding-left: 8px;
    font-family: "Expletus Sans", cursive; }
  body .pageHome .skills .stars, body .pageHome .qualification .stars {
    width: 150px;
    text-align: right; }
    body .pageHome .skills .stars svg, body .pageHome .qualification .stars svg {
      font-size: 1.2rem; }
  body .pageHome .case > section {
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: height 0.5s; }
    body .pageHome .case > section:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      top: auto;
      height: 100px;
      transition: bottom 0.5s;
      background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%); }
    body .pageHome .case > section:not(.active):hover:after, body .pageHome .case > section:not(.active):focus:after {
      bottom: -50px; }
    body .pageHome .case > section.active {
      height: auto; }
      body .pageHome .case > section.active:after {
        opacity: 0; }
  body .pageHome .case .caseName {
    font-size: 1.44rem; }
  body .pageHome .case .caseCompany {
    font-size: 0.833rem; }
    body .pageHome .case .caseCompany a {
      font-size: 1rem; }
  body .pageHome .case .imgFrame p {
    text-align: center;
    color: #ffffff;
    font-size: 1.728rem;
    font-family: "Expletus Sans", cursive; }
  body .pageHome .case .imgFrame .btn {
    margin-bottom: 16px; }
  body .pageHome .case .sep {
    border-top: 1px solid #e0e0e0;
    height: 1px;
    width: 50%;
    margin: 30px auto; }
  body .pageHome .archive .item {
    padding: 0 15px; }
    body .pageHome .archive .item .imgFrame {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      margin-bottom: 15px; }
      body .pageHome .archive .item .imgFrame:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%; }
      body .pageHome .archive .item .imgFrame > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      body .pageHome .archive .item .imgFrame img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        bottom: auto; }
  body .pageHome .contact .contactForm * {
    font-family: "Exo 2", sans-serif; }
  body .pageHome .contact .sent h1 {
    color: #795548; }
  body .pageHome .contact .sent p {
    font-size: 1.44rem; }
  body .pageHome .contact .textField .label, body .pageHome .contact .textArea .label {
    font-size: 1.44rem; }
  body .pageHome .contact .textField .field, body .pageHome .contact .textArea .field {
    font-size: 1.2rem;
    padding-top: 15px; }
    body .pageHome .contact .textField .field:before, body .pageHome .contact .textArea .field:before {
      border-color: #DADADA; }
    body .pageHome .contact .textField .field:after, body .pageHome .contact .textArea .field:after {
      border-color: #795548; }
  body .pageHome .contact .textField .error, body .pageHome .contact .textArea .error {
    color: #a1887f;
    font-size: 1rem; }
  body .pageHome .contact .btn {
    background-color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 15px;
    z-index: 600; }
  body .pageHome .contact .recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500; }
    body .pageHome .contact .recaptcha .error {
      color: #a1887f;
      font-size: 1rem;
      text-align: center; }
